<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BookMapper">
<!--显示所有图书数据 包括借阅人-->
        <resultMap id="map1" type="Book">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="writer" column="writer"></result>
        <result property="cbs" column="cbs"></result>
        <result property="go" column="go"></result>
        <association property="user" resultMap="user"></association>
        </resultMap>

        <resultMap id="user" type="pojo.User">
            <id property="userid" column="uid"></id>
            <result property="username" column="uname"></result>
        </resultMap>

    <select id="selectbook" resultMap="map1">
        SELECT b.id,b.name,b.writer,b.cbs,b.go,u.name as uname,u.id as uid
        FROM book AS b LEFT JOIN borrow AS bo ON bo.book_id=b.id LEFT JOIN USER AS  u ON bo.user_id = u.id
        <where>
            <if test="name!=null and name!=''" >
                and b.name like '%${name}%'
            </if>
            <if test="writer!=null and writer!=''" >
                and b.writer like '%${writer}%'
            </if>
            <if test="go!=null and go!=''" >
                and b.go=#{go}
            </if>
        </where>

    </select>


<!--    仅显示图书数据-->

    <select id="selectOnlyBook" resultType="Book">
        select * from book

        <where>
            <if test="name!=null and name!=''" >
                and name=#{name}
            </if>
            <if test="writer!=null and writer!=''" >
                and writer=#{writer}
            </if>
            <if test="go!=null and go!=''" >
                and go=#{go}
            </if>
        </where>
    </select>


<!--    借书-->
    <resultMap id="map2" type="Borrow">
        <id property="id" column="id"></id>
        <result property="user_id" column="user_id"></result>
        <result property="book_id" column="book_id"></result>
    </resultMap>
    <insert id="borrowbook" parameterType="Borrow">
        insert into borrow (user_id,book_id) VALUES(#{user_id},#{book_id});
    </insert>
    <!--    借书后的修改-->
    <update id="updatego" >
        update  book set go='1' where id=#{book_id}
    </update>

<!--添加图书-->
    <insert id="addbook">
        insert into book(name,writer,cbs,go) values (#{0},#{1},#{2},0)
    </insert>

    <!--    删除图书-->
    <delete id="deletebook">
        delete from book where id=#{0}
    </delete>
<!--    修改图书-->
    <update id="updatebook">
        update book set name=#{0},writer=#{1},cbs=#{2} where id=#{3}
    </update>
<!--    查询图书一-->
    <sql id="sql">
           SELECT b.id,b.name ,b.writer,b.cbs,b.go,u.name as uname
        FROM book AS b LEFT JOIN borrow AS bo ON bo.book_id=b.id
        LEFT JOIN USER AS  u ON bo.user_id = u.id
    </sql>
    <select id="selectbook1" parameterType="Book" resultMap="map1">
        <include refid="sql"></include>
        <where>
            <if test="name!=null and name!=''" >
                and b.name like '%${name}%'
            </if>
            <if test="writer!=null and writer!=''" >
                and b.writer like '%${writer}%'
            </if>
            <if test="go!=null and go!=''" >
                and b.go=#{go}
            </if>
        </where>
    </select>

<!--    图书查询二-->


    <select id="selectbook2" parameterType="Book" resultMap="map1">
        select * from book
        <where>
            <if test="name!=null and name!=''" >
                and name=#{name}
            </if>
            <if test="writer!=null and writer!=''" >
                and writer=#{writer}
            </if>
            <if test="go!=null and go!=''" >
                and go=#{go}
            </if>
    </where>

    </select>
<!--    通过ID查图书数据-->
    <select id="selectBookById" resultType="Book">
        select * from book where id =#{0}
    </select>
<!--    通过ID删除图书-->
    <delete id="deleteById">
        delete  from book where id =#{0}
    </delete>


    <select id="soushu" parameterType="user" resultMap="map1">
        select * from book
        <where>
            <if test="name!=null and name!=''" >
                and name=#{name}
            </if>
            <if test="writer!=null and writer!=''" >
                and writer=#{writer}
            </if>
        </where>
    </select>
</mapper>
